.contact {
    margin-top: -31px;
  text-align: center;
  background-color: rgb(20, 27, 50);
}
.contact h1{
  color: rgb(250, 231, 195);
  font-size: 45px;
}
.un{
  margin-top: -35px;
  margin-right: 20px;
}
.contact hr{
  width: 180px;
  border: 2px solid  rgb(250, 231, 195);
  display: inline-flex;

}
.contact .un1{
  border-radius: 100%;
  width: 2px;
  border: 5px solid rgb(250, 231, 195);
}
.con h2{
  color: rgb(250, 231, 195);
  font-size: 48px;
}
.con p{
  margin-top: -25px;
  color: hsl(240, 7%, 100%);
  font-size: 18px;
}
.con1{
  display: flex;
  padding-top: 400px;
  margin: 40px;
  justify-content: space-between;
}
.subcon1 h2{
  color: rgb(250, 231, 195);
  font-size: 30px;
}
.subcon1 p{
  font-size: 15px;
  color: hsl(240, 7%, 100%);
  margin-top: -18px;
}
.subcon1 h3{
  font-size: 24px;
  color: hsl(240, 7%, 100%);
}
.subcon2 h2{
  color: rgb(250, 231, 195);
  font-size: 30px;
}
.subcon2 p{
  font-size: 15px;
  color: hsl(240, 7%, 100%);
  margin-top: -13px;
}
.subcon2 h3{
  font-size: 24px;
  color: hsl(240, 7%, 100%);
}
.subcon3 h2{
  color: rgb(250, 231, 195);
  font-size: 30px;
}
.subcon3 p{
  font-size: 15px;
  color: hsl(240, 7%, 100%);
  margin-top: -13px;
}
.subcon3 h3{
  font-size: 24px;
  color: hsl(240, 7%, 100%);
}
.call{
  background-color:rgb(20, 27, 50);
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.form-title{
  text-align: center;
  color: rgb(250, 231, 195);
  margin: 50px;
  font-size: 45px;
}
form input{
  margin-right: 20px;
  width: 570px;
  border: 0;
  background-color:rgb(20, 27, 50);
  padding: 22px;
  color: hsl(240, 7%, 100%);
}
form textarea{
  margin-right: 20px;
  width: 570px;
  border: 0;
  background-color:rgb(20, 27, 50);
  padding: 22px;
  color: hsl(240, 7%, 100%);
}
::placeholder{
  color:hsl(240, 7%, 100%);
}
.info input{
  font-size: 22px;
  border-bottom: 4px solid rgb(30, 41, 72);
  font-family: 'Times New Roman', Times, serif;
}
.no input{
  font-size: 22px;
  border-bottom: 4px solid rgb(30, 41, 72);
  font-family: 'Times New Roman', Times, serif;
}
.em input{
  font-size: 22px;
  border-bottom: 4px solid rgb(30, 41, 72);
  font-family: 'Times New Roman', Times, serif;
}
.msg textarea{
  font-size: 22px;
  border-bottom: 4px solid rgb(30, 41, 72);
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
}
.btn{
  border: 1px solid rgb(250, 231, 195);
  width: 120px;
  height: 35px;
  color: rgb(250, 231, 195);
  font-size: 22px;
  margin: 50px;
  border-radius: 3px;
  background-color:#0B1D27;
  text-align: center;
}
.top2{
text-align: center;
color:rgb(250, 231, 195);
font-size: 150px;
margin-bottom: 10px;
margin-top: -3px;
}
.h3{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: -100px;
  font-size: 30px;
}
.p2{
  text-align: center;
  color:rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 5px;
}
.p3{
      display:inline;
  padding: 10px;
  width: 150px;
  height: 20px;
  color: rgb(250, 231, 195);
  border: 2px solid rgb(250, 231, 195);
  border-radius: 90px;
  font-size: 20px;
  margin-left: 0px; 
}

@media screen and (max-width:600px) {
  .contact h1{
    font-size: 30px;
  }
  .contact hr{
    margin-top: 12px;
    width: 120px;
    border: 1px solid rgb(250, 231, 195) ;
  }
  .contact .un1{
    width: 1px;
    border: 3px solid rgb(250, 231, 195);
  }
  .con1{
    display: block;
  }
  .con h2{
    font-size: 30px;
  }
  .con p{
    font-size: 12px;
  }
  .subcon1, .subcon2, .subcon3{
    border: 1px solid rgb(250, 231, 195);
    margin: 5px;
  }
  .con1 .subcon1 h2, .con1 .subcon2 h2, .con1 .subcon3 h2{
    font-size: 20px;
  }
  .con1 .subcon1 p, .con1 .subcon2 p, .con1 .subcon3 p{
    font-size: 12px;
  }
  .con1 .subcon1 h3, .con1 .subcon2 h3, .con1 .subcon3 h3{
    font-size: 18px;
  }
  .call .form-title{
    font-size: 30px;
  }
  form input, form .msg textarea{
    width: 250px;
  }
  form .info input, form .no input, form .em input, form .msg textarea{
    font-size: 15px;
  }
  form .btn{
    height:20px ;
    width: 90px;
    font-size: 15px;
  }
  .top2{
    font-size: 50px;
  }
  .h3{
    margin-top: -25px;
    font-size: 20px;
  }
  .p2{
    font-size: 12px;
  }
  .top h5{
    font-size: 12px;
    height: 12px;
    width: 100px;
  }
}